.hide {
    display: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.p-5 {
    padding: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.p-10 {
    padding: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.m-5 {
    margin: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.m-10 {
    margin: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.big-text {
    font-size: 20pt;
}

.white-text {
    color: #fff;
}

.bold-text {
    font-weight: bold;
}

.uppercase-text {
    text-transform: uppercase;
}

.acute-border {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.no-border {
    border: none;
}
