* {
    padding: 0;
    margin: 0;
}

.pull-left {
    float: left;
}

.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.p-10 {
    padding: 10px;
}

.p-5 {
    padding: 5px;
}

.big-text {
    font-size: 20pt;
}

.white-text {
    color: #fff;
}

.acute-border {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#search-input {
    border: 1px solid #787878;
    height: 32px;
    width: 179px;
    padding-left: 10px;
    transition: .3s all;
}

#search-input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

#search-button {
    background-color: #ff5458;
    /*left: -8px;*/
    /*bottom: 5px;*/
    height: 34px;
    width: 35px;
    background-image: url('../img/search-icon.png');
    border: 2px solid #fe4a4a;
    cursor: pointer;
}

.brand-icon {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ed3b3b;
    border-radius: 15px;
    line-height: 38px;
}

.brand-icon img {
    height: 40px;
}

.header {

}

.matched-queries-wrapper {

}

.matched-queries-wrapper ul {
    list-style-type: none;
    width: 180px;
    display: inline-block;
    padding: 5px;
    text-align: left;
    background-color: #dfdfdf;
}

.matched-queries-wrapper ul li {
    padding: 3px;
}
