* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-wrapper {
    padding: 0 20%;
}

.brand-icon {
    background-color: #ed3b3b;
    border-radius: 15px;
    line-height: 38px;
}

.brand-icon img {
    height: 40px;
}

#videos-table td {
    padding: 5px;
}

#videos-table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

#videos-table {
    border-collapse: collapse;
}

#videos-table th, td {
    border: 1px solid black;
}

#videos-table thead td {
    padding: 10px;
}

#videos-table tbody tr td:nth-child(2) {
    font-size: 20pt;
}

#videos-table tbody tr td:nth-child(3) div {
    height: 100px;
    overflow-y: auto;
}

#videos-titles span, #queries-list span {
    background-color: #e3e3e3;
    margin: 5px;
    padding: 1px 7px;
    border-radius: 5px;
    line-height: 35px;
}

#queries-list span:hover {
    cursor: pointer;
    background-color: #cfcfcf;
}

.add-new-query-wrapper input {
    border: 1px solid #787878;
    height: 28px;
    width: 179px;
    padding-left: 10px;
    transition: .3s all;
}

.add-new-query-wrapper button {
    background-image: url('../img/plus-icon.png');
    background-position: center center;
    background-size: 60% ;
    background-repeat: no-repeat;
    background-color: #02a6ff;
    transition: .2s all;
    height: 30px;
    width: 40px;
    top: -6px;
    left: -1px;
}

.add-new-query-wrapper button:hover {
    background-color: #028eda;
    cursor: pointer;
}

.result-wrapper button {
    background-color: #02a6ff;
    padding: 5px 13px;
    font-size: 14pt;
}

.result-wrapper button:hover {
    background-color: #028eda;
    cursor: pointer;
}

.add-new-query-wrapper label {
    display: block;
    margin-top: 15px;
}

.add-new-query-wrapper input:focus  {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.result-wrapper h2 {
    margin-top: 15px;
}
